project-folder/AskSupport/__pycache__
project-folder/companies/__pycache__
project-folder/companies/migrations/__pycache__
project-folder/users/__pycache__
project-folder/users/migrations/__pycache__
project-folder/tickets/__pycache__
project-folder/tickets/migrations/__pycache__