{% extends "base.html" %}

<!--{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href='{% static "/css/employee_modal.css" %}'>
<script type="text/javascript" src='{% static "/js/employee_modal.js" %}'></script>

{% endblock %}-->

{% block content %}
    <h2>Admin Dashboard</h2>
    {% if user.is_authenticated %}
        <p> Utente : {{user.username}}</p>
        <p> Amministratore di : {{user.related_company}}</p>

        <h3>Dipendenti</h3>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Rimuovi</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.user.username }}</td>
                        <td>{{ employee.user.email }}</td>
                        <td>
                            <form method="POST" action="{% url 'remove-employee' employee.id %}">
                                {% csrf_token %}
                                <button type="submit">Rimuovi</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Registra nuovo Employee</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.userForm.as_p }}
            <button type="submit">Register</button>
        </form>
    {% endif %}
{% endblock %}

