{% extends "base.html" %}

{% block content %}
    <h1>{{ company.name }}</h1>
    <p>{{ company.description }}</p>
    <p>Admin: {{ company.admin.username }}</p>
    <p>Email di contatto: {{ company.admin.email }}</p>

    <h2> FAQ Session </h2>
    <p> Under Construction </p>



    {% if user.is_authenticated and not "CompanyAdministrators" in user.groups.all.0.name and not "Employees" in user.groups.all.0.name %}
        <h3>Open a Support Ticket</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Ticket</button>
        </form>
    {% else %}
        <p> Signup as "User" to open support ticket with the company </p>
    {% endif %}

{% endblock %}