<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AskSupport</title>
        <!-- Qui puoi includere i tuoi stili CSS, JS, ecc. -->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Includi l'header del sito -->
        <header>
            <!-- Codice dell'header -->
        </header>

        <!-- Questo è il blocco che verrà sovrascritto dai vari template -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Includi il footer del sito -->
        <footer>
            <!-- Codice del footer -->
        </footer>
    </body>
</html>