{% extends "base.html" %}

{% block content %}
    <h2>Open Tickets</h2>
    <ul>
        {% for ticket in open_tickets %}
            <li>
                {{ ticket.title }} - {{ ticket.description }} 
            </li>
        {% endfor %}    
    </ul>

    <h2>Pending Tickets</h2>
    <ul>
        {% for ticket in pending_tickets %}
        <li>
            <p>
                {{ ticket.title }} - {{ ticket.description }} 
                <br>
                Created : {{ ticket.created_at }}
            </p>
        </li>
        {% endfor %}
    </ul>
    
    <h2>Closed Tickets</h2>
    <ul>
        {% for ticket in closed_tickets %}
        <li>
            {{ ticket.title }} - {{ ticket.description }} 
            <br>
            Created : {{ ticket.created_at }}
            <br>
            Closed because : {{ ticket.close_reason }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}