{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-4">

    <!-- Modal Pop-up for Tickets -->
    <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatModalLabel">Chat for Ticket : <strong><span id="modalTicketTitle"></strong></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-header">
                    <p class="modal-title" id="chatModalLabel"><span id="modalTicketDesc"></span></p>
                </div>
                <div class="modal-body">
                    <div id="chatMessages" class="chat-messages" style="height: 300px; overflow-y: auto;">
                        <!-- Messaggi della chat verranno caricati qui -->
                    </div>
                    <div id="chatFormContainer">
                        <form id="chatForm" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="ticket_id" id="chatTicketId">
                            <div class="input-group mt-3">
                                <textarea class="form-control" name="content" id="chatMessageContent" rows="2" placeholder="Type your message"></textarea>
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Open Tickets Section -->
    <div class="mb-4">
        <h3 class="mb-3">Open Tickets</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in open_tickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description|truncatewords:20 }}</td>
                        <td>{{ ticket.get_priority }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="openChatModal('{{ ticket.id }}', '{{ ticket.title }}', '{{ ticket.description }}', true)">Chat</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

    <!-- Pending Tickets Section -->
    <div class="mb-4">
        <h3 class="mb-3">Pending Tickets</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in pending_tickets %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.description }}</td>
                        <td>{{ ticket.get_priority }}</td>
                        <td>{{ ticket.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Closed Tickets Section -->
    <h2 class="mb-4">Closed Tickets</h2>
    <ul class="list-group">
        {% for ticket in closed_tickets %}

        <li class="list-group-item">
            <a href="#" onclick="openChatModal('{{ ticket.id }}', '{{ ticket.title }}', '{{ ticket.description }}', false)">{{ ticket.title }}</a> <small> | Closed because: {{ ticket.close_reason }}</small>
        </li>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'js/manageTicketFunctions.js' %}" defer> </script>
{% endblock %}
